@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.show {
  border: 5px solid red;
}
.resume-holder {
  height: 90vh;
}
.linkedin-blue {
  color: rgb(10, 102, 194);
}
